.react-datepicker__input-container, .react-datepicker-wrapper{
    display: block;   
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding: 0 0;
}

.lookup-form .ui.label, .lookup-form button.button {
    background-color: #00c7f878;
    color: #000;
    transition: ease-in-out .2s;
}

.lookup-form button.button:hover {
    background-color: #00c7f8e0;
    color: #000;
    transition: ease-in-out .2s;
}

.lookup-form .ui.label {
    background-color: rgba(255, 20, 70, 0.30);
    color: #000;
    transition: ease-in-out .2s;
}